@import url(normalize.css);
@import url(reset.css);
@import url(all.min.css);

:root {
    --body-ff:'Noto Sans KR', sans-serif;
    --body-fz:1rem;
    --line-height:28px;
    --primary-c :#5d2a8f;
    --secondary-c :#ecab01;
    --white : #fff;
    --body-tc:#000;
    --con-width : 1170px;
    --title-color:#000;
}
/*
typopgraphy
*/
body{
    font-family: var(--body-ff);
    font-size: var(--body-fz);
    line-height: var(--line-height);
}
h1,h2,h3,h4,h5,h6{
    font-family: var(--title-ff);
    color: var(--title-color);
}
.main_tt{
    font-size:calc(var(--body-fz)*3.25);
    font-weight: bold;
    line-height: calc(var(--line-height)*4);
}
.sub_tt{
    font-size:calc(var(--body-fz)*1.25);
    font-weight: 400;
    color: var(--primary-c);
}
.content_tt{
    font-size:calc(var(--body-fz)*1.875);
    font-weight: 600;
    text-align: center;
}
.content_desc{
    width: 770px;
    margin:0 auto var(--line-height);
    text-align: center;
}
.content_sub_tt{
    font-size:calc(var(--body-fz)*1.375);
    font-weight: 600;
}
em{
    color:var(--secondary-c);
}
.link{
    color:var(--secondary-c);
    text-decoration: underline;
}
.primary_bg {
    background: var(--primary-c);
}
.secondary_bg {
    background: var(--secondary-c);
}
.primary_color {
    color: var(--primary-c);
}
.secondary_color {
    color: var(--secondary-c);
}
.w_color {
    color:var(--white);
}
.btn{
    border-radius:3px;
    display: inline-block;
    font-size: calc(var(--body-fz)*.875);
    vertical-align: bottom;
}
.primary.btn{
    height: 53px;
    line-height: 53px;
    text-transform: uppercase;
    font-family: var(--title-ff);
    padding: 0 40px;
    transition:0.5s;
    overflow: hidden;    
    cursor: pointer;
}
.primary.btn:hover{
    box-shadow:none;
}
.secondary.btn{
    height: 32px;
    line-height: 30px; 
    border:1px solid var(--secondary-c);
    box-sizing: border-box;
    padding: 0 18px;
    color:var(--body-tc);
}
.secondary.btn:hover, .secondary.btn.active{
    background: var(--primary-c);
    color: var(--white);
}
/* ------------------------- LAYOUT ------------------------- */
.container{
    width: var(--con-width);
    margin:0 auto;
}
.cf:after{
    content:'';
    display:block; 
    clear:both;
}
.hidden {
    display: none;
}
.con-pd{
    padding: calc(var(--line-height)*3) 0;
}
.con-top-pd{
    padding-top: calc(var(--line-height)*3);
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: calc(var(--line-height)*3);
    margin-top: calc(var(--line-height)*3);
}
button{
    cursor: pointer;
}
/*----------------------- header ---------------------------*/
.logo a{
    width: 127px;
    height: 45px;
    background-image: url('../image/logo/logo.png');
    background-size: cover;
    background-repeat: no-repeat;
    text-indent: -9999em;
    display: block;
}
.page-header{
    background:linear-gradient(rgba(0,0,0, 0.5) 70px, rgba(255,255,255,0.5) 70px);
    position: absolute;
	left: 0;
	right: 0;
	top: 0;
	height:70px; 
	overflow:hidden;
    z-index: 100;
}
.page-header > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.page-header nav{
    display: flex;
    width:960px; 
    color: #fff;
}
.page-header nav > ul{
    margin: 0 auto;
}

.page-header nav > ul > li {
    float:left; 
    line-height:50px; 
    margin-right: 50px;
    position: relative;
}
nav > ul > li ul{ 
    width:100%;  
    position: absolute;
}
nav > ul > li ul li{
    white-space:nowrap;
}
.page-header.active {
    position: fixed;
    background: var(--white);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
    z-index:100;
}

.page-header.active nav ul li{
    color:#8c8c8c;
}
.page-header.active nav ul li:hover{
    color:var(--secondary-c);
}
.active .logo a {
    background-image:url('../image/logo/logo_scroll.png');
}
.top_links li a{
    color:#fff;
}
header.active .top_links li a{
    color: #000;
}
.top_links li:nth-child(3){
    cursor: pointer;
}
.page-header nav > ul > li{
    position: relative;
}
.page-header nav > ul:nth-child(1) > li:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0px;
    height: 2px;
    margin: 5px 0 0;
    transition: all 0.2s ease-in-out;
    transition-duration: 0.3s;
    opacity: 0;
    background-color: var(--secondary-c);
}
.page-header nav > ul > li:hover:after{
    width: 100%;
    opacity: 1;
}
/*----------------------- search ---------------------------*/
.header_search{
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 102;
    background: rgba(0,0,0, 0.5);
}
.header_search.active{
    display: block;
}
.header_search input{
    position: absolute;
    top:50%;
    width: 50%;
    margin: 0 auto;
    line-height: 85px;
    text-align: center;
    border: none;
    left: 25%;
}
.header_search label{
    opacity: 0;
    position: absolute;
    width: 1;
    height: 1;
    text-indent: -999em;
}
.header_search button{
    position: absolute;
    top:55%;
    left:70%;
    transform: translateY(-50%);
    cursor: pointer;
    border: none;    
    background: transparent;
}
.header_search button svg{
    width: 20px;
    height: 20px;
}
.search_close{
    position: absolute;
    z-index: 101;
    cursor: pointer;
    top: 10%;
    left:80%;
    width: 50px;
    height: 50px;
    border: 1px solid #c2c2c2;
    display: none;
}
.search_close svg{
    color: #fff;
    width: 50px;
    height: 50px;
    display: block;
}
.search_close.active{
    display: block;
}
/*----------------------- hamburger ---------------------------*/
.toggle{
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 103;
    background: #fff;
    animation: trans 0.5s forwards linear;
    transform: translateY(-200%);
}
@keyframes trans{
    100%{transform: translateY(0);}
}
.toggle.active{
    display: block;
}
.flex_box{
    display: flex;
    height: 100%;
    position: relative;
}
.flex_box > div{
    width: 13%;
    padding-left: 5rem;
    border-right: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex_box > div ul{
    text-align: center;
}
.flex_box > div h2{
    font-size: 30px;
    line-height: calc(var(--line-height)*2);
}
.flex_box div li{
    color: #c2c2c2;
    border: none;
}
.text_box{
    position: absolute;
    top:40%;
    transform: translate(-50%);
}
.close{
    position: absolute;
    z-index: 101;
    cursor: pointer;
    top: 10%;
    left:95%;
    width: 50px;
    height: 50px;
    border: 1px solid #c2c2c2;
}
.close svg{
    color: #000;
    width: 50px;
    height: 50px;
}
.site_map{
    width: 15%;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(140deg, var(--primary-c) 0%, var(--secondary-c) 100%)
}
.site_map p{
    color: #fff;
}
/*----------------------- sub header ---------------------------*/
.sub_bg{
    height: 427px;
    position: relative;
    }
    .sub_bg li{
    background-image: url(../image/banner_slide/sub.jpg);
    background-repeat: no-repeat;
    position: absolute;
    top:0;
    left:0;
    right: 0;
    width: 100%;
    height: 70%;
    padding-top: 100px;
    }
    .sub_bg li h2{
        text-align: center;
        color: #fff;
    }
    .sub_bg li p{
        text-align: center;
        color: #fff;
    }
    .tac{
        text-align: center;
    }


/*----------------------- footer ---------------------------*/
footer{
    background: #000;
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
}
footer div span{
    color: #ebebeb;
}
.footer_contents{
    margin-top: 20px;
}
.footer_contents span{
    margin-right: 20px;
}
.footer_contents_main{
    display: flex;
    margin-top: 20px;
}
.footer_contents_adress{
    display: flex;
    flex-direction: column;
    margin-right: 80px;
}
.footer_contents_call{
    display: flex;
    flex-direction: column;
}
.footer_contents span{
    font-size: 14px;
}
.footer_contents_adress span{
    margin-bottom: 10px;
    font-size: 12px;
}
.footer_contents_call span{
    margin-bottom: 10px;
    font-size: 12px;
}
.footer_logo{
    display: flex;
}
.footer_logo li{
    background-repeat:no-repeat ;
    text-indent: -9999em;
    background-size: cover;
    display: block;
}
.footer_logo li:nth-of-type(1){
    background-image: url(../image/logo/logo.png);
    width: 127px;
    height: 45px;
    position: relative;
    top:10px;
}
.footer_logo li:nth-of-type(2){
    background-image: url(../image/logo/safe.png);
    width: 70px;
    height: 70px;
    margin: 0 10px;
}
.footer_logo li:nth-of-type(3){
    background-image: url(../image/logo/web.png);
    width: 100px;
    height: 71px;
}
.footer_nav{
    display: flex;
}
.footer_sns{
    display: flex;
    margin-left: 70px;
}
.footer_sns li a{
    background-image: url(../image/icons/ns.png);
        background-repeat: no-repeat;
        width: 55px;
        height: 55px;
        display: block;
        text-indent: -9999em;
}
.footer_sns li a:hover{
    background-position-y: -70px ;
}
.footer_sns li:nth-of-type(2) a{
    background-position-x: -70px;
}
.footer_sns li:nth-of-type(3) a{
    background-position-x: -138px;
}
.footer_sns li:nth-of-type(4) a{
    background-position-x: -208px;
}
.footer_sns li:nth-of-type(5) a{
    background-position-x: -278px;
}
footer #go-top svg{
    position: fixed;
    top:80%;
    left:80%;
    text-indent: -9999em;
    width: 70px;
    height: 70px;
}