@import url(common.css);

.login_wrap{
    width: 500px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.login_wrap .login_input{
    width: 100%;
    height: 100%;
    border-bottom: 3px solid #c2c2c2;
}
.login_wrap .login_input:focus-within{
    border-bottom: 3px solid var(--primary-c);
}
.login_wrap form input{
    border: transparent;
    width: 100%;
    padding: 20px 0;
}
.login_wrap button{
    margin-top: 50px;
    width: 100%;
}
.login_find_wrap{
    display: flex;
    justify-content: space-between;
}
.login_find_wrap ul{
    display: flex;
    gap: 10px;
}
.login_find_wrap ul li::after{
    content: '|';
    padding-left: 10px;
    vertical-align: bottom;
}
.login_find_wrap li:last-child::after{
    display: none;
}
.login_sns_link{
    display: flex;
    gap: 40px;
    margin-left: 80px;
    margin-top: 50px;
}
.login_sns_link li a{
    background-image: url(../image/icons/ns.png);
    width: 55px;
    height: 55px;
    text-indent: -9999em;
    background-repeat: no-repeat;
    display: block;
}
.login_sns_link li:nth-of-type(2) a{
    background-position-x: -70px
}
.login_sns_link li:nth-of-type(3) a{
    background-position-x: -278px
}
.login_sns_link li:nth-of-type(4) a{
    background-position-x: -348px;
}
.login_wrap form .login_input {
    position: relative;   
    color: #C2C4CA;
}
.login_wrap form .login_input label{
    position: absolute;
    left: 0;
    top: 0;
    line-height: 54px;
    opacity: 0;
    visibility: hidden;
    /* pointer-events: none; */
    transition:0.3s ease-out;
}
.login_wrap form .login_input:focus-within label{
    top:-35px;
    opacity: 1;
    visibility: visible;
}
.login_wrap form .login_input:focus-within input::placeholder{
    opacity: 0;
}
.login_wrap form .login_input input:focus{
    border-color:#979797;
}
.login_wrap form .login_input input{
    width: 100%;
    display: block;
    color: #4A4A4A;
    outline:none;
}
.login_wrap form .login_input input::placeholder{
    color: #C2C4CA;
}
.login_wrap form .login_input + .login_input{
    margin-top: 6vh;
}

@media (max-width:768px){
    .login_wrap form{
        width: 80%;
        margin: 0 auto;
    }
    .login_find_wrap{
        width: 80%;
        margin-left: 50px;
    }
    } /* 768 이하 */
    @media (max-width:480px){
        .login_wrap form{
            width: 60%;
        }
        .login_find_wrap{
            display: flex;
            flex-wrap: wrap;
            margin-left: 100px;
        }
        .keep_check{
            text-align: left;
            width: 100%;
        }
    }