@import url(common.css);


/*----------------------------Banner---------------------------*/
.slide_wrapper{
    width:100%;
    margin:0 auto;
    position: relative;
}
.bx-viewport{
    position: relative;
}
.slide_wrapper >  .bx-wrapper > .bx-controls{
    position: absolute;
    display: flex;
    top:90%;
    left:50%;
    transform: translate(-50%, -50%);
}
.slide_wrapper > .bx-wrapper> .bx-controls >.bx-pager{
    gap: 10px;
    display: flex;
}
.bx-controls .bx-pager a{
    width: 15px;
    height: 15px;
    background: rgba(255,255,255,.3);
    border-radius:50%;
    text-indent:-9999px;
    display: block;
}
.bx-controls .bx-pager a.active{
    background: rgba(255,255,255,1);
}
@media (max-width:768px){
    .slide_wrapper .bx-wrapper{
        width: 100vw;  
    }
}

/*--------------------------reservation---------------------------*/
.reservation{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 200px;
}
.form_wrap{
    display: flex;
    padding: 50px 40px;
    border: solid 2px;
    align-items: center;
}
.select_wrap{
    position: relative;
}
.form_cell h3{
    text-align: center;
    line-height: calc(var(--line-height)*3);
}
.form_cell{
    width: 25%;
    position: relative;
    padding: 0 40px;
    border-left: 1px solid #e6e6e6;
    box-sizing: border-box;
}
.form_cell span{
    color: var(--primary-c);
}
.form_cell label{
    color: var(--primary-c);
}
.form_cell input{
    border: none;
    width: 80%;
}
.form_cell button{
    background-image: url(../image/icons/date_icon.png);
    background-repeat: no-repeat;
    width: 16px;
    height: 15px;
    text-indent: -9999em;
    vertical-align: middle;
}
.select_wrap div button{
    outline: none;
    border: #fff;
    background: #fff;
}

.select_wrap button.active{
    display: block;
    width: 100%;
}
.select_list{
    position: absolute;
    top:100%;
    display: none;
    left: 0;
    z-index: 2;
    width: 100%;
    padding: 10px;
}
.form_wrap li:nth-of-type(5){
    width: 25%;
}
.form_wrap li:nth-child(2) label{
    color: var(--primary-c);
}
.form_wrap label{
    font-size: 18px;
}

/*-------------------------Business Areas---------------------------*/
.Business_Areas{
    background-image: url(../image/banner_slide/business.bg.png);
    background-repeat: no-repeat;
}
.Business_Areas .container{
    position: relative;
}
.Business_Areas .title{
    position: absolute;
    top:10%;
    left:0;
    text-align: left;
    display: block;
    width: 200px;
    font-weight: bold;
}
.slides div{
    width: 270px;
    position: relative;
}
.slides div a{
    display: block;
}
.slides div img{
    display: block;
    transition: 0.3s;
}
.slides div span{
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translateY(-50%);
    border: 1px solid #ebebeb;
    background: rgba(0, 0, 0, 0.5);
    padding: 15px 20px;
    display: inline-block;
    color: #fff;
}
.slides div:hover span{
    background: var(--primary-c);
}
.slides li:nth-child(3) p{
    color: #ebebeb;
}
.slides-wrapper h2{
    position: absolute;
    top: 5%;
    left: 10%;
    color: rgba(255,255,255,0.5);
    font-size: 48px;
    font-weight: bold;
}
.slides-wrapper p{
    position: absolute;
    top:80%;
    left:25%;
    transform: translatex(-40%);
    font-size: 20px;
    font-weight: 600;
    line-height: calc(var(--line-height)*2);
    color: #fff;
}
.casino_p{
    color: #fff;
}
#golf_h2{
    color: rgba(0, 0, 0, 0.5);
}
.bx-next{
    background-image: url(../image/icons/chevron-right-solid.svg);
    height: 50px;
    width: 50px;
    display: block;
    background-repeat: no-repeat;
    text-indent: -999em;
}
.bx-prev{
    background-image: url(../image/icons/chevron-left-solid.svg);
    height: 50px;
    width: 50px;
    display: block;
    background-repeat: no-repeat;
    text-indent: -999em;
}
.slides-wrapper .bx-wrapper{
    margin-left: 300px;
    position: relative;
    padding-top: 150px;
    padding-bottom: 150px;
}
.slides-wrapper .bx-wrapper .bx-controls-direction{
    position: absolute;
    top:55%;
    right: 115%;
    display: flex;
    gap: 50px;
}
.slides-wrapper .bx-wrapper .bx-default-pager{
    position: absolute;
    right: 115%;
    top: 70%;
    display: flex;
    gap: 10px;
}
.bx-wrapper .bx-viewport .slides div{
    position: relative;
}
.bx-wrapper .bx-viewport .slides div::before{
    content: '';
    background: rgba(0, 0, 0, 0.5);
    top:0; bottom: 0; left: 0; right: 0;
    position: absolute;
    transition: 0.5s;
    opacity: 1;
}
.bx-wrapper .bx-viewport .slides div:hover::before{
    opacity: 0;
}
.bx-wrapper .bx-viewport .slides div:hover h2{
    color: #fff;
}
/*-------------------------Investment---------------------------*/
.Investment_content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px
}
.sub_content{
    position: relative;
    border: 10px solid transparent;
    transition: 0.3s;
}
.sub_content a{
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    display: block;
    width: 350px;
    height: 200px;
    padding: 50px;
    box-sizing: border-box;
    line-height: 50px;
}
.sub_content .icons svg{
    position: absolute;
    top:50%;
    right: 20%;
    font-size: 45px;
    transform: translateY(-50%);
}
.sub_content h3{
    color: #fff;
    font-size: 24px;
}

.sub_content:hover{
    border: 10px solid #000;
}
.sub_content .Investment_info{
    width: 100%;
}
.sub_content:nth-of-type(1){
    background: var(--primary-c);
}
.sub_content:nth-of-type(2){
    background: var(--secondary-c);
}
.sub_content:nth-of-type(3){
    background: var(--primary-c);
}

/*------------------------- NewsRoom ---------------------------*/
.NewsRoom_wrap{
    background-image: url(../image/banner_slide/newsroom.bg.png);
    padding-bottom: 100px;
}
.NewsRoom_wrap .title h2{
    padding-top: 100px;
}
.NewsRoom_content{
    display: flex;
    gap: 70px;
    position: relative;
    top:50%;
}
.NewsRoom_content li{
    width: 330px;
    margin: 0 auto;
}
.photo img{
    width: 100%;
    transition: 0.3s;
}
.photo{
    position: relative;
    transition: 0.3s;
    overflow: hidden;
}
.photo svg{
    position: absolute;
    color: #fff;
    top:50%;
    left:50%;
    transform: translate(-50%);
    width: 20px;
    height: 20px;
    z-index: 1;
    opacity: 0;
}
.photo::after{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
}
.caption{
    background: #fff;
    border: 1px solid #e5e1e1;
    padding: 20px;
    transition: 0.3s;
}
.caption h3{
    font-size: 14px;
}
.caption p{
    font-size: 12px;
    color: #909090;
    margin-bottom: 30px;
}
.caption a{
    margin-bottom: 30px;
    color: #909090;
    font-size: 12px;
    position: relative;
}
.caption svg{
    font-size: 12px;
}
.NewsRoom_content li:hover .photo img{
    transform: scale(1.1);
}
.NewsRoom_content li:hover .photo:after{
    opacity: 1;
}
.NewsRoom_content li:hover .photo svg{
    opacity: 1;
}
.NewsRoom_content li:hover .caption{
    background: #252525;
    border: none;
}
.NewsRoom_content li:hover .caption h3{
    color: var(--secondary-c);
}
.NewsRoom_content li:hover .caption p{
    color: #fff;
}
.NewsRoom_content li:hover .caption a{
    color: var(--secondary-c);
}
.NewsRoom_content li:hover .caption svg{
    color: var(--secondary-c);
}
/*------------------------- infomation ---------------------------*/
.infomation_wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.counter_list{
    display: flex;
    justify-content: center;
    gap: 150px;
    text-align: center;
}
.counter_list li{
    position: relative;
    width: 140px;
}
.counter_list li:hover svg{
    color: var(--secondary-c)
}
.counter_list li:hover::after{
    display: block;
}
.counter_list li:after{
    content: '';
    position: absolute;
    width: 60px;
    height: 2px;
    background: var(--secondary-c);
    bottom: -10%;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    text-align: center;
}
.infomation_content span{
    color: #000;
}
.counter_list span svg{
    width: 100px;
    height: 100px;
    color: #000;
}
[data-effect^="animate__fadeIn"]{
    opacity: 0;
}
.animate__animated {
    animation-duration: 0.5s;
}