@import url(common.css);

/* ------------------------ question -------------------------*/
.faq_wrap .faq_sub_title{
    display: block;
    margin-bottom: 50px;
}
.faq_wrap .faq_sub_title p{
    color: #000;
}
.faq_tabs{
    display: block;
}
.faq_tabs ul{
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
}
.faq_tabs ul li{
    border: 1px solid #ebebeb;
    padding: 20px 100px;
}
.faq_wrap .tabs_content{
    text-align: left;
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    margin-bottom: 70px;
}
.tabs_content h3{
    padding: 28px 0;
    border-bottom: 1px solid #ebebeb;
}
.tabs_content h3 span{
    color: var(--primary-c);
}
.tabs_content div{
    padding: 30px 60px;
    display: none;
}
.tabs_content div p{
    color: #000;
}
.tabs_content h3 svg{
    float: right;
    text-align: right;
    padding: 0 20px;
    transition: 0.3s;
}

.answer {
	display:none;
}
.question{
	border-bottom:2px solid #ccc;
	transition:0.35s;
}
.question.ui-state-active{
	border-bottom:2px solid var(--primary-c);
}
.question .svg{
	transform:rotate(0deg);
	transition:0.35s;
}
.question.ui-state-active svg{
	transform:rotate(180deg);
}
.qna_list{
	width:80%;
	margin:0 auto;
}
.tabs_nav li.ui-state-active{
	background: var(--primary-c);
}
.tabs_nav li.ui-state-active a{
    color: #fff;
}
/* ------------------------ land -------------------------*/
.landbg{
    height: 821px;
    position: relative;
}
.land_content a{
    color: #fff;
    position: relative;
}
.landbg .container{
    display: flex;
    flex-direction: column;
    padding-right: 170px;
    align-items: flex-end;
    text-align: left;
}
.landbg:nth-of-type(even) .container{ 
    padding-left: 170px;
    align-items: flex-start;
    text-align: right;
}
.land_content{
    position: absolute;
    top:30%;
}
.land_content h2{
    color: #fff;
}
.land_content p{
    padding-bottom: 30px;
}
.land_content svg{
    padding-left: 10px;
}
#fp-nav ul li a span{
    background: #fff;
}
.land_content a:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0px;
    height: 2px;
    margin: 5px 0 0;
    transition: all 0.2s ease-in-out;
    transition-duration: 0.3s;
    opacity: 0;
    background-color: #fff;
}
.land_content a:hover:after{
    width: 100%;
    opacity: 1;
}

/* ------------------------ hotel -------------------------*/
.mix-wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin:3em auto;
    gap: 30px;
}
.mix{
    width: 23%;
    margin: 1em 1%;
    padding: 5px;
}
.hotel_mixer button{
    border: 1px solid #ebebeb;
    padding: 20px 80px;
    cursor: pointer;
}
.hotel_mixer button.mixitup-control-active{
    background: var(--primary-c);
    color:#fff;
}
/* ------------------------ service -------------------------*/
.service_content{
    text-align: left;
}
.service_content h3{
    margin-top: 30px;
    border-bottom: 2px solid #000;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.service_content p{
    border-bottom: 1px solid #ebebeb;
    margin-top: 15px;
    padding-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.service_content form label{
    width: 15%;
    line-height: calc(var(--line-height)*2);
}
.service_content form input{
    box-sizing: border-box;
    box-shadow: none;
    border: 1px solid #ebebeb;
    padding: 0 15px;
    line-height: calc(var(--line-height)*2);
}
.service_content label span{
    color: red;
}
.service_content small span{
    color: red;
}
.service_content span.error{
    color: red;
    line-height: calc(var(--line-height)*2);
    padding-left: 20px;
}
.service_content textarea{
    height: 500px;
    width: 85%;
    resize: none;
    display: inline-block;
}
.service_content .wirte{
    width: 50%;
}
.service_content .service_btn{
    border-top: 2px solid #000;
    padding-top: 20px;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 30px;
}
.service_btn button{
    border: none;
    padding: 20px 60px;
    margin: 0 30px;
    cursor: pointer;
}
.service_btn button:nth-child(1){
    background: var(--primary-c);
    color: #fff;
}
.service_btn button:nth-child(2){
    background: #c2c2c2;
    color: #000;
}
.service_content p:nth-child(3) span{
        background: #c2c2c2;
        color: #000;
        border: 1px solid  #c2c2c2;
        padding: 10px 20px;
        cursor: pointer;
}
#adress_detail{
    margin: 15px 15% 0;
    width: 60%;
    height: 50px;
}
#file{
    padding: 20px 15px;
    line-height: 20px;
}
span.bad-input{
    color:red;
    padding-left: 20px;
    line-height: calc(var(--line-height)*2);
}
/* ------------------------- login -------------------------*/
.login_wrap{
    width: 500px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.login_wrap .login_input{
    width: 100%;
    height: 100%;
}
.login_wrap form input{
    border: 1px solid #ebebeb;
    width: 100%;
    padding: 20px 0;
}
.login_wrap .login_input button{
    background: var(--primary-c);
    border: none;
    width: 100%;
    padding: 20px 0;
    color: #fff;
}
.login_find_wrap{
    display: flex;
    justify-content: space-between;
}
.login_find_wrap ul{
    display: flex;
    gap: 10px;
}
.login_find_wrap ul li::after{
    content: '|';
    padding-left: 10px;
    vertical-align: bottom;
}
.login_find_wrap li:last-child::after{
    display: none;
}
.login_sns_link{
    display: flex;
    gap: 40px;
    margin-left: 60px;
    margin-top: 20px;
}
.login_sns_link li a{
    background-image: url(../image/icons/ns.png);
    width: 55px;
    height: 55px;
    text-indent: -9999em;
    background-repeat: no-repeat;
    display: block;
}
.login_sns_link li:nth-of-type(2) a{
    background-position-x: -70px
}
.login_sns_link li:nth-of-type(3) a{
    background-position-x: -278px
}
.login_sns_link li:nth-of-type(4) a{
    background-position-x: -348px;
}
/* ------------------------- road -------------------------*/
#map{
    height: 600px;
}
.road_wrap .container svg{
    color: var(--primary-c);
    width: 80px;
    height: 60px;
}
.road_wrap h3{
    color:#000;
}
.transport{
    display: flex;
    justify-content: center;
    gap: 150px;
    padding: 30px 0;
}
.transport svg{
    border: 3px solid var(--primary-c);
    padding: 20px;
    border-radius: 50%;
}
.land_map_ping {
    border-bottom: 2px solid #c2c2c2;
    padding-bottom: 20px;
}
.transport h4{
    color: var(--primary-c)
}
.transport .train p:after{
    position: absolute;
    content: '';
    background: blue;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    left:-5%;
    top:50%;
    transform: translateY(-50%);
}
.transport .train p{
    position: relative;
}
.kang{
    display: flex;
    gap: 30px;
}
.kang h5{
    color: red;
}
.seoul{
    display: flex;
    gap: 30px;
    margin: 20px 0;
}
.seoul h5{
    color: blue;
}
.busan{
    display: flex;
    gap: 30px;
}
.busan h5{
    color: green;
}
